.root {
  height: 50px;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  max-width: var(--page-width);
  // border-bottom: 1px solid #f0f0f2;
  margin-inline: auto;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.title {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 700;
  white-space: pre;
}

.action {
  display: inline-flex;
  margin-left: auto;
}

.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 0px;
}

/* input */

.menu {
  position: absolute;
  top: 45px;
  right: 0px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-surface);
  z-index: 50;
}
