.root {
  position: sticky;
  top: 0;
  box-shadow: var(--box-shadow);
  height: 40px;
  backdrop-filter: blur(4px);
  z-index: 10;
}

.root::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-surface);
  opacity: 0.7;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  max-width: var(--page-width);
  margin-inline: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.link {
  display: inline-flex;
  align-items: center;
  margin-right: 4px;
  font-size: 14px;
  line-height: 1;
  height: 26px;
  font-weight: 500;
  padding: 4px 8px;
  white-space: pre;
}
