.root {
  box-shadow: var(--box-shadow);
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: auto;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px 12px;
  height: 42px;
}

.container::-webkit-scrollbar {
  display: none;
}

.link {
  display: inline-flex;
  align-items: center;
  margin-right: 4px;
  font-size: 14px;
  line-height: 1;
  height: 26px;
  font-weight: 500;
  padding: 4px 8px;
  white-space: pre;
}
