.root {
  position: relative;
}
.input {
  border: none;
  border-bottom: 2px solid var(--color-text-link);
  border-radius: 0px;
  width: 140px;
  height: 30px;
  padding: 0 20px 0 12px;
  font-size: 14px;
  color: var(--color-text-secondary);
  outline: unset;
}

.icon {
  position: absolute;
  right: 0;
  font-size: 18px;
  height: 30px;
}

@media screen and (max-width: 426px) {
}
