.root {
  margin: 0 -12px;
  // box-shadow: var(--box-shadow);
  // overflow: -moz-hidden-unscrollable;
}

.header {
  position: relative;
  width: 100%;
  padding-top: 30%;
  overflow: hidden;
}

.main {
  display: flex;
}

.article {
  max-width: 824px;
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
}

.title {
  margin-top: 1em;
  margin-bottom: 1px;
  // position: absolute;
  // bottom: 0;
  // padding-left: 5%;
  // padding-bottom: 5%;
  font-size: 1.5em;
  font-weight: 600;
  // color: #eee;
  z-index: 5;
}

.thumbnail {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.thumbnail::after {
  content: "";
  position: absolute;
  inset: 0;
  // backdrop-filter: blur(2px);
  background: linear-gradient(#ffffff44 30%, #00000080 100%);
}

.aside {
  flex: 1 1 0;
  align-self: baseline;
  position: sticky;
  top: 54px;
  max-width: 250px;
  // margin-left: 24px;
  padding: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.list a {
  font-size: 12px;
  text-decoration: none;
  color: #777;
  display: block;
  padding: 4px 0px;
  cursor: pointer;
}

.list a:hover {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

.list ul {
  border-left: 1px solid #eee;
  padding-left: 12px;
  padding-right: 0px;
}

@media screen and (max-width: 1024px) {
  .aside {
    display: none;
  }
}
