.root {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--color-text-link);
  border-radius: 10px;
  overflow: hidden;
}

.active {
  color: var(--active-text-link);
}

.root::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-text-link);
  pointer-events: none;
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .root:hover::before {
    opacity: 0.06;
  }
}

.root:active::before {
  opacity: 0.1;
}
